/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


header {
    background-image:url(https://thumbs.dreamstime.com/b/dark-black-grey-background-marbled-stone-wall-rock-industrial-texture-website-banner-header-backdrop-design-dark-black-grey-241613595.jpg);height: 150px; background-repeat: no-repeat ; background-attachment: fixed; background-size: 100% 100%;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.landing, .login {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}
body{
background-image:url(https://i.pinimg.com/originals/fa/b7/ca/fab7ca4ae20651bd1da35b1e00824669.jpg);

}
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
